{% extends 'layout.html' %}
{% block content %}

{% include '_messages.html' %}

{% include 'navbar.html' %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" id="b_image">
            <img src="{{url_for('static',filename='images/'+product.image_1)}}" alt="{{product.name}}" width="500" height="500">
        </div>

        <div class="col-md-6">
            <h3>{{product.name}}</h3>
            <hr>
            <p><b> ₹{{product.price}}</b></p>
            {% if product.discount > 0 %}
            <p class="text-danger">Discount: {{product.discount}}%</p>
            {% endif %}
            <b class="text-primary">About this item:</b>
            <p>{{product.desc}}</p>
            <hr>

            {% if product.stock <=5 %}
            <p class="text-danger"><b>*Hurry, only {{product.stock}} left in stock!</b></p>
            {% endif %}

            <p><b>Seller Details : </b></p>
            <p>Email : {{seller_details.email}}
                <br>
            Address : {{seller_details.address}}</p>
            <hr>
            <form action = "{{url_for('AddtoCart')}}" method="POST" class="mt-3">
                <input type="hidden" name="product_id" value="{{product.id}}">  
                <button type="submit" class="btn btn-dark btn-sm">Add to Cart</button>
                <label for="">Quantity:</label>
                <input type="number" name="quantity" id="" value="1" min="1" max="{{product.stock}}">
                {% set colors = product.colors.split(',') %}
                <label for="colors">Colors:</label>
                <select name="colors" id="colors">
                    {% for color in colors %}
                    {% set col = color.split(':') %}
                    <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3 mb-3" id="s_image">
            <img src="{{url_for('static',filename='images/'+product.image_1)}}" alt="{{product.name}}" width="100" height="100" class="border border-secondary p-2">
            <img src="{{url_for('static',filename='images/'+product.image_2)}}" alt="{{product.name}}" width="100" height="100" class="border border-secondary p-2">
            <img src="{{url_for('static',filename='images/'+product.image_3)}}" alt="{{product.name}}" width="100" height="100" class="border border-secondary p-2">
        </div>
    </div>
</div>

<script>
    var b_image = document.getElementById('b_image')
    var s_image = document.getElementById('s_image').getElementsByTagName('img')
    for (var i =0;i<s_image.length;i++){
        s_image[i].addEventListener('click',full_image);
    }

    function full_image(){
        var ImageSRC = this.getAttribute('src')
        b_image.innerHTML="<img src=" + ImageSRC + " width='500' height='500'>";
    }
</script>
{% endblock content %}
