{% extends 'layout.html' %}
{% block content %}

{% include '_messages.html' %}

<div class="container mt-2">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="/admin">Admin</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/admin">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/brands">Brands</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/categories">Categories</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      </div>
<hr>
<div class="container mt-2 text-center">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <th>S.No</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% if brands %}
            <h1>Brands</h1>
            {% for brand in brands  %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{brand.name}}</td>
                <td><a href="{{url_for('updatebrand',id=brand.id)}}" class="btn btn-outline-success">Edit</a></td>
                <!-- <td><a href="" class="btn btn-outline-danger">Delete</a></td> -->
                <td><button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{brand.id}}">
                  Delete</button></td>
            </tr>
            <!-- Button trigger modal -->
            

            <!-- Modal -->
            <div class="modal fade" id="exampleModal-{{brand.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{brand.name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <span class="text-danger">Are you sure you want to delete the brand '{{brand.name}}'?</span>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                    <form action="{{url_for('deletebrand', id=brand.id)}}" method="POST">
                      <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                   
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
            {% else %}

            <h1>Categories</h1>
            {% for category in categories  %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{category.name}}</td>
                <td><a href="{{url_for('updatecat',id=category.id)}}" class="btn btn-outline-success">Edit</a></td>
                <td><button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{category.id}}">
                  Delete</button></td>    
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal-{{category.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{category.name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <span class="text-danger text-weight-bold">Are you sure you want to delete the category '{{category.name}}'?</span>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                    <form action="{{url_for('deletecategory', id=category.id)}}" method="POST">
                      <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                   
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{%  endblock content %}
